.container-overlay {
    position: relative;
    display: inline-block;
}

.work-photo {
    max-width: 100%;
    display: block;
}

.item-overlay {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
}

.over-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.over-img {
    border-radius: 15px;
}

.over-content p {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 10px;
    background: #1e1e1e;
    color: white;
    padding: 12px;
    border-radius: 8px;
    white-space: nowrap;
}

.direction-top {
    bottom: 100%;
    left: 50%;
}

.direction-bottom {
    top: 100%;
    left: 50%;
}

.no-see {
    display: none;
}

.over-1 {
    top: 30%;
    left: 10%;
}

.over-1:hover img, .over-1:hover p {
    display: block;
    border-radius: 15px;
}

.over-2 {
    top: 30%;
    left: 30%;
}

.over-2:hover img, .over-2:hover p {
    display: block;
    border-radius: 15px;
}

.over-3 {
    top: 30%;
    left: 50%;
}

.over-3:hover img, .over-3:hover p {
    display: block;
    border-radius: 15px;
}

.over-4 {
    top: 30%;
    left: 70%;
}

.over-4:hover img, .over-4:hover p {
    display: block;
    border-radius: 15px;
}

.over-5 {
    top: 30%;
    left: 90%;
}

.over-5:hover img, .over-5:hover p {
    display: block;
    border-radius: 15px;
}

.numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    transform: none;
}

.numbers img {
    position: absolute;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .circle {
        display: none;
    }
    .no-see {
        display: block;
    }
    .item-overlay {
        position: static;
        transform: none;
    }
    .over-content {
        position: static;
        transform: none;
        margin-top: 20px;
        padding: 10px;
        background: #2b2b2b;
        border-radius: 10px;
    }

    .over-content img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        min-width: 300px;
        height: auto;
    }

    .over-content p {
        position: static;
        transform: none;
        white-space: normal;
    }
}

@media screen and (max-width: 500px) {
    .over-content img {
        min-width: 100%;
        height: auto;
    }

    .numbers {
        height: 7%;
    }
}